<main class="blog_container">
  @if (blogInfo$ | async; as blogInfo) {
    <div class="blog_header">
      <h1 class="blog_header_title">{{ blogInfo["title"] }}</h1>
      <span class="blog_header_date">
        Published on {{ formatDate(blogInfo["date"]) }}
      </span>
      <div class="blog_header_tags">
        <span class="blog_header_tag">{{ blogInfo["keywords"][0] }}</span>
        <span class="blog_header_tag">{{ blogInfo["keywords"][1] }}</span>
      </div>
    </div>
  }
  <section class="blog_content" [innerHTML]="blogContent$ | async"></section>
</main>
