.blog {
  &_container {
    overflow: hidden;
    margin: 0 auto 90px auto;
    max-width: 800px;
    padding: 0 5vw;
  }

  &_header {
    margin: 0 -20px;
    padding: 30px 20px;
    border-top: 1px solid var(--slate-300);
    border-bottom: 1px solid var(--slate-300);

    &_title {
      margin: 20px 0 0 0;
    }

    &_date {
      margin-top: 10px;
      font-weight: 400;
      font-size: 16px;
    }

    &_tags {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding: 20px 0;
    }

    &_tag {
      padding: 4px 6px;
      border-radius: 50px;
      color: var(--slate-600);
      border: 1px solid var(--slate-300);
    }
  }

  &_content {
    a {
      color: black;
      font-weight: 700;
      letter-spacing: 1.2px;
    }

    h2 {
      margin: 60px 0 25px 0;
      letter-spacing: 1px;
    }

    blockquote {
      margin: 40px 0 10px 0;
      border-left: 5px solid var(--accent);
      padding-left: 10px;
    }

    p code {
      background-color: var(--slate-200);
      padding: 2px 4px;
      border-radius: 5px;
    }

    pre {
      border-radius: 5px;
      font-size: 14px;
      overflow-x: scroll;
      margin: 30px 0;
      border: 0.5px solid var(--slate-300);
    }

    li {
      margin: 5px 0;
    }

    .code {
      position: relative;
    }

    img {
      max-width: 100%;
      border: 0.5px solid var(--slate-300);
    }
  }
}

.copy_button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--slate-300);
  border-radius: 5px;
  color: var(--slate-600);
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: var(--slate-400);
  }

  i {
    text-shadow: none;
  }
}
