section {
  min-height: calc(100dvh - 280px);
  flex-direction: column;
  display: flex;
  padding: 20px 5vw;
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 70px;

  .blog {
    &_heading {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 50px;
      text-transform: uppercase;
    }

    &_list {
      display: flex;
      flex-direction: column;
      transform: translateX(-10px);
      gap: 90px;

      &_link {
        color: var(--slate-0);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &_item {
        border-left: 4px solid var(--accent);
        padding-left: 20px;

        &_date {
          font-weight: 800;
        }
      }

      &_keywords {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }

      &_keyword {
        font-size: 14px;
        color: var(--slate-0);
      }
    }
  }
}
