.rotateAni{
  animation: rotate 50s linear infinite;
}
.rotateAniR{
  animation: rotate 50s linear infinite reverse;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  scale: 1.3;
  }
  100% {
    transform: rotate(360deg);
  scale: 1.3;
  }
}
