<div>
  <div class="relative mx-auto max-w-screen-xl">
    <div class="px-[5vw] py-28">
      <div class="z-10 flex flex-col justify-center items-start">
        <div class="relative text-6xl max-sm:text-5xl text-slate-700 font-[600]">
          Frontend Developer
          <h2
            class="absolute top-28 left-[10vw] font-[700] rotateAni text-gray-200 -z-10 inline-block w-[0.5px] h-[0.5px] bg-red-500">
            <span [style.transform]="'rotate(' + i * 12 + 'deg)'" *ngFor="let c of fancyTitle1; let i = index"
              class="inline-block text-2xl h-32 text-center absolute bottom-0 border-t w-6 -right-3 origin-bottom uppercase">{{
              c }}</span>
          </h2>
          <h2
            class="absolute top-28 left-[10vw] font-[700] text-gray-200 rotateAniR -z-10 inline-block w-[0.5px] h-[0.5px] bg-green-600">
            <span [style.transform]="'rotate(' + i * 7.68 + 'deg)'" *ngFor="let c of fancyTitle2; let i = index"
              class="inline-block text-2xl h-40 text-center absolute bottom-0 w-6 -right-3 origin-bottom uppercase">{{ c
              }}</span>
          </h2>
        </div>
        <div class="absolute top-0 bg-1 left-0 bg-red-500 w-[5vw] h-full">

        </div>
        <h1 class="text-6xl max-sm:text-5xl text-gray-500 font-[600]">
          UX/UI Designer
        </h1>
        <h1 class="text-6xl max-sm:text-5xl text-gray-400 font-[600]">
          Freelancer
        </h1>
      </div>
    </div>
    <canvas #canvas class="sm:absolute right-0 pointer-events-none -z-20 top-0"></canvas>
  </div>
</div>
