.about {
  &_container {
    max-width: 1100px;
    margin: 100px auto;
    padding: 0 5vw;
  }

  &_title {
    font-size: 30px;
    font-weight: 600;
  }

  &_description,
  &_cta {
    max-width: 65ch;
    font-size: 18px;
    letter-spacing: 0px;
  }

  &_lib_text {
    font-size: 30px;

    @media (max-width: 550px) {
      font-size: 20px;
    }
  }

  &_devicon {
    width: 80px;

    path,
    circle {
      fill: var(--slate-500);
    }
  }

  &_lib {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
  }

  &_button {
    display: flex;
    gap: 15px;

    &_resume,
    &_contact {
      padding: 6px 15px;
      border-radius: 10px;
      font-size: 16px;
      text-decoration: none;
      transition: background-color 0.3s;
      border: 0.5px solid var(--slate-300);
      cursor: pointer;
    }

    &_resume {
      color: white;
      background-color: var(--accent);
      border: none;

      &:hover {
        background-color: #3b82f6;
      }
    }

    &_contact {
      color: var(--slate-600);

      &:hover {
        background-color: var(--slate-100);
      }
    }
  }

  &_skills {
    font-size: 20px;
    color: var(--slate-600);
  }

  &_skills_text {
    font-size: 20px;
    color: var(--slate-0);
  }

  &_images {
    background-color: var(--light-gray);
    border-radius: 15px;
    padding: 30px;
  }

  &_img_lg {
    width: 100%;

    @media (max-width: 550px) {
      display: none;
    }
  }

  &_img_sm {
    display: none;
    width: 100%;

    @media (max-width: 550px) {
      display: block;
    }
  }
}
