<section class="about">
  <div class="about_container">
    <div class="about_grid">
        <div class="about_row1">
    <h2 class="about_title">About me</h2>
          <p class="about_description">
            I'm a full-stack developer who learned to code by building projects
            and solving problems. I've explored various related fields,
            including DevOps, Android, and open source. I'm also a Linux
            enthusiast who uses Arch (by the way) and manages my dotfiles to
            perfection.
          </p>
          <div class="about_button">
            <a class="about_button_resume" (click)="downloadResume()"><i class="pi pi-download"></i> Resume</a>
            <a class="about_button_contact" href="mailto:haroondev2@gmail.com"><i class="pi pi-envelope"></i> Contact
              Me</a>
          </div>
        </div>
      <div  class="about_column2">
        <img class="about_img about_image" src="/images/exp2.webp" alt="my expericence graph" />
      </div>
        <div class="about_row2">
          <h4 class="about_lib_text">
            Here are some technologies I've currently been working with:
          </h4>
        </div>
    </div>
  </div>
</section>
