.about {
  &_container {
    max-width: 1100px;
    margin: 0 auto 100px;
    padding: 0 5vw;
  }

  &_title {
    font:
      700 30px "Kanit",
      serif;
  }

  &_content {
    &_profile {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;

      @media (max-width: 550px) {
        flex-direction: column-reverse;
      }

      &_text {
        max-width: 65ch;
      }

      &_image {
        flex: 1;

        img {
          height: 120px;
          border-radius: 500px;
        }
      }
    }

    &_stats {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;

      @media (max-width: 550px) {
        display: none;
      }

      &_number {
        font:
          700 30px "Kanit",
          serif;
        text-align: center;
      }

      &_label {
        text-align: center;
      }
    }

    &_skills {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;

      @media (max-width: 550px) {
        flex-direction: column-reverse;
      }

      &_text {
        flex: 1;
      }

      &_showcase {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;

          &.desktop {
            display: block;
            max-width: 650px;

            @media (max-width: 550px) {
              display: none;
            }
          }

          &.mobile {
            display: none;
            max-width: 300px;

            @media (max-width: 550px) {
              display: block;
            }
          }
        }
      }

      &_title {
        flex: 1;
        font:
          700 30px "Kanit",
          serif;
        text-align: center;

        i {
          font-size: 40px;
          font-weight: 700;
        }
      }
    }
  }

  &_card {
    padding: 30px;
    background: var(--bg-about);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    &:hover {
      box-shadow: var(--about-shadow);
    }
  }

  &_devicons {
    display: flex;
    width: 100%;
    flex-direction: column;

    &_container {
      width: 100%;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    svg {
      width: 40px;

      path,
      circle {
        fill: var(--slate-700);
      }
    }
  }
}
