.about {
  &_container {
    max-width: 1100px;
    margin: 0px auto 100px;
    padding: 0 5vw;
  }

  &_title {
    margin: 0;
    font:
      700 30px "Kanit",
      serif;
  }

  &_grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 30px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
  }

  &_row1,
  &_row2 {
    background-color: var(--slate-200);
    padding: 40px;
    border-radius: 20px;
  }

  &_column2 {
    width: 300px;
    background-color: var(--slate-200);
    padding: 40px;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 1 / span 2;
    @media (max-width: 768px) {
      grid-column: 1;
      grid-row: 3;
      width: auto;
    }
  }

  &_img {
    width: 100%;
  }

  &_description {
    max-width: 45ch;
    font-size: 18px;
    letter-spacing: 0px;
  }

  &_button {
    display: flex;
    gap: 15px;
    margin: 0;

    &_resume,
    &_contact {
      padding: 6px 15px;
      border-radius: 10px;
      font-size: 16px;
      text-decoration: none;
      transition: background-color 0.3s;
      border: 0.5px solid var(--slate-300);
      cursor: pointer;
    }

    &_resume {
      color: white;
      background-color: var(--accent);
      border: none;

      &:hover {
        background-color: #3b82f6;
      }
    }

    &_contact {
      color: var(--slate-600);

      &:hover {
        background-color: var(--slate-100);
      }
    }
  }
}
