.blog_section {
  max-width: 1100px;
  margin: 100px auto;
  padding: 0 5vw;
}

.blog {
  &_container {
    width: 100%;
  }

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_more {
    color: var(--slate-600);
    font-weight: 700;
    text-decoration: none;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 0.5px solid var(--slate-300);

    &:hover {
      background-color: var(--slate-100);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--slate-300);

      &:hover {
        background-color: rgb(15 23 42);
      }
    }

    i {
      margin-left: 5px;
    }
  }

  &_title {
    font-size: 30px;
    font-weight: 600;
    opacity: 0.85;
  }

  &_list {
    &_item {
      display: flex;
      gap: 15px;
      padding: 20px 0;
      align-items: center;

      &_date {
        white-space: nowrap;
      }

      &_link {
        color: black;
        font-weight: 700;

        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }
    }
  }
}
