<app-hero></app-hero>
<app-projects></app-projects>
<app-about></app-about>

<section class="blog_section">
  <div class="blog_container">
    <h1 class="blog_title">Recent Blogs</h1>
    <div class="blog_list">
      @for (blog of blogInfo; track blog.path) {
      <div class="blog_list_item " >
        <a class="blog_list_item_link" (mouseover)="prefetch(blog.path)" [routerLink]="'blog/' + blog.path">
          {{ blog.title | truncate:70 }}
        </a>
        <span class="blog_list_item_date">{{ formatDate(blog.date) }}</span>
      </div>
      }
    </div>

    <div class="blog_header">
      <a class="blog_more" routerLink="/blogs">View All<i class="pi pi-arrow-right"></i></a>
    </div>
  </div>
</section>
