.blog_section {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 5vw;
}

.blog {
  &_container {
    width: 100%;
  }

  &_title {
    font-size: 30px;
    font-weight: 600;
    opacity: 0.8;
  }

  &_list {
    &_item {
      display: flex;
      gap: 15px;
      padding: 20px 0;
      align-items: center;

      &_date {
        white-space: nowrap;
      }

      &_link {
        color: black;
        font-weight: 700;

        @media (prefers-color-scheme: dark) {
          color: white;
        }
      }
    }
  }
}
