#logo{
   height:40px;
   width:40px;
}
.path{
  fill:transparent;
  stroke:var(--accent);
  stroke-width:5;
}
.polygon{
  fill:transparent;
  stroke:var(--accent);
  stroke-width:5;
  stroke-linecap:round;
  stroke-linejoin:round;
}
nav div {
  display:flex;
  justify-content:space-between;
  align-items:center;
  max-width:1200px;
  margin:0 auto;
  padding:20px 5vw;
}
