<section>
  <div class="wpr">
    <h1>PROJECTS</h1>
    <div class="projects">
      <div class="projects-card">
        <div>
          <span><i class="pi pi-clock"></i>12 month ago </span>
          <a href="https://prepzone.tech">
            <i class="pi pi-external-link"></i>
          </a>
        </div>
        <h3>PrepZone</h3>
        <p>
          Developed a comprehensive platform for competitive exam preparation
          with practice tests and instant results
        </p>
      </div>
      <div class="projects-card">
        <div>
          <span><i class="pi pi-clock"></i>8 month ago </span>
          <a href="https://sketchomes.com">
            <i class="pi pi-external-link"></i>
          </a>
        </div>
        <h3>Sketchomes</h3>
        <p>
          Built a professional interior design website featuring projects with
          an interactive 3D photosphere.
        </p>
      </div>
      <div class="projects-card">
        <div>
          <span><i class="pi pi-clock"></i>6 month ago </span>
          <a href="https://gfg-adgips.vercel.app/">
            <i class="pi pi-external-link"></i>
          </a>
        </div>
        <h3>GeeksforGeeks</h3>
        <p>
          Developed a visually appealing website for the college society
          ”GeeksforGeeks Chapter ADGIPS”.
        </p>
      </div>
      <div class="projects-card">
        <div>
          <span><i class="pi pi-clock"></i>9 month ago </span>
          <a href="https://hack-n-chill.vercel.app/">
            <i class="pi pi-external-link"></i>
          </a>
        </div>
        <h3>HackNChill</h3>
        <p>
          Created a dynamic hackathon website with a Netflix-inspired UI design
        </p>
      </div>
      <div class="projects-card">
        <div>
          <span><i class="pi pi-clock"></i>3 month ago </span>
          <a href="https://github.com/HaroonSaifi17/snake-game">
            <i class="pi pi-external-link"></i>
          </a>
        </div>
        <h3>Snake Game</h3>
        <p>
          Developed a terminal-based Snake game with a personal portfolio site
          for showcasing projects.
        </p>
      </div>
    </div>
  </div>
</section>
